/* write your override styles here */
#wall .tag-1 {
    display: none;
}

/* hide tag-2 */
div#wall #tag-2 {
    display: none;
}

/* hide tag-3 */
div#wall #tag-3.slick.wicked {
    display: none;
}

/* hide tag-4 */
div#wall #tag-4 {
    display: none;
}

/* hide tag-5, tag-6, tag-7 */
div#wall .parent {
    display: none;
}